{{define "content"}}
    <div class="mx-auto container mt-16 rounded-lg shadow py-4 px-8 bg-white">
        <header class="border-primary-200 border-b border-solid pb-8">
            <h1 class="text-4xl text-gray-700 w-auto">Users</h1>
        </header>
        <form method="get" class="flex mt-2 items-baseline">
            <input type="search" value="{{.Keyword}}"
                   class="py-1 px-2 pl-4 border border-solid border-primary-500 rounded-full rounded-r-none w-1/4"
                   name="keyword">
            <button type="submit"
                    class="font-normal p-1 pr-4 rounded-full bg-primary-500 text-white hover:bg-white hover:text-primary-500 border rounded-l-none border-solid border-primary-500">
                Search
            </button>
            <a href="/admin/user/add"
               class="py-1 px-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500 ml-auto">
                Add User
            </a>
        </form>
        <table class="border-collapse w-full text-base text-gray-700 mt-8 table-auto">
            <thead class="text-left">
            <tr class="border-b-2 border-primary-900">
                <th class="p-2">Id</th>
                <th class="p-2">Name</th>
                <th class="p-2">Email</th>
            </tr>
            </thead>
            <tbody>
            {{range .Users}}
                <tr class="odd:bg-gray-100">
                    <td class="p-2">
                        <a class="text-primary-700 hover:underline" href="/admin/user/edit/{{.Id}}">{{.Id}}</a>
                    </td>
                    <td class="p-2">{{.Name}}</td>
                    <td class="p-2">
                        <div class="flex">
                            {{.Email}}
                            <a href="/admin/user/delete/{{.Id}}"
                               class="p-1 rounded-lg bg-red-500 text-white hover:bg-white hover:text-red-500 text-sm border-2 border-solid border-red-500 ml-auto">
                                Delete User
                            </a>
                        </div>
                    </td>
                </tr>
            {{end}}
            </tbody>
            <tfoot class="mt-2 border-t-2 border-primary-900">
            <tr>
                <td colspan="3">
                    <div class="flex justify-between items-baseline p-2">
                        {{if .PreviousEnabled}}
                            <a href="/admin/user?offset={{minus .CurrentOffset 10}}&keyword={{.Keyword}}"
                               class="py-1 px-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500 mr-auto">
                                Previous
                            </a>
                        {{else}}
                            <span class="py-1 px-2 rounded-lg bg-gray-500 text-white border-2 border-solid border-gray-500 mr-auto">
                                Previous
                            </span>
                        {{end}}
                        <span>Users from {{add .CurrentOffset 1}} to {{add .CurrentOffset 10}} of {{.TotalCount}}</span>
                        {{if .NextEnabled}}
                            <a href="/admin/user?offset={{add .CurrentOffset 10}}&keyword={{.Keyword}}"
                               class="py-1 px-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500 ml-auto">
                                Next
                            </a>
                        {{else}}
                            <span class="py-1 px-2 rounded-lg bg-gray-500 text-white border-2 border-solid border-gray-500 ml-auto">
                                Next
                            </span>
                        {{end}}
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{{end}}