{{define "layout"}}
    <html lang="en">
    <head>
        <title>Setup</title>
        <link rel="stylesheet" href="/public/admin.css">
    </head>
    <body>
    <form class="mx-auto container mt-16 rounded-lg shadow py-4 px-8" method="post">
        {{template "content" .}}
    </form>
    </body>
    </html>
{{end}}