{{define "layout"}}
    <html lang="en">
    <head>
        <title>Administration</title>
        <link rel="stylesheet" href="/public/admin.css">
    </head>
    <body>
    {{template "content" .}}
    </body>
    </html>
{{end}}