{{define "content"}}
    <form class="mx-auto container w-1/4 mt-16 rounded-lg shadow py-4 px-8 bg-white" method="post">
        <header class="border-primary-200 border-b border-solid pb-8">
            <h1 class="text-4xl text-gray-700">Edit Configuration {{.Config.Key}}</h1>
        </header>
        <section class="text-base text-gray-700 py-8">
            {{if .HasError}}
                <p class="mb-4 px-6 bg-red-700 text-red-100 py-4 rounded-lg">{{.Error}}</p>
            {{end}}
            <div class="flex flex-wrap mb-4">
                <label for="key" class="w-full font-bold">Key</label>
                <select required name="key" id="key" type="text"
                        class="py-1 px-2 border border-solid border-primary-500 rounded w-full invalid:border-red-700">
                    <option {{if eq .Config.Key "PrimaryColor"}}selected{{end}} value="PrimaryColor">
                        Primary Color
                    </option>
                    <option {{if eq .Config.Key "SecondaryColor"}}selected{{end}} value="SecondaryColor">
                        Secondary Color
                    </option>
                    <option {{if eq .Config.Key "GrayColor"}}selected{{end}} value="GrayColor">Gray Color</option>
                    <option {{if eq .Config.Key "OrgName"}}selected{{end}} value="OrgName">Organization Name</option>
                </select>
            </div>
            <div class="flex flex-wrap mb-4">
                <label for="value" class="w-full font-bold">Value</label>
                <input required name="value" id="value" type="text" value="{{.Config.Value}}"
                       class="py-1 px-2 border border-solid border-primary-500 rounded w-full invalid:border-red-700">
            </div>
        </section>
        <footer class="flex border-primary-200 border-t border-solid pt-8 justify-end">
            <a href="/admin/config"
               class="py-1 px-2 rounded-lg bg-gray-500 text-white hover:bg-white hover:text-gray-500 border-2 border-solid border-gray-500 mr-4">Cancel</a>
            <button class="py-1 px-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500 font-normal">
                Update Configuration
            </button>
        </footer>
    </form>
{{end}}