<html lang="en">
<head>
    <title>You need to be logged in to view</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body class="bg-red-200">
<form class="mx-auto container mt-16 rounded-lg shadow py-4 px-8 w-1/4 bg-white mt-64" method="post">
    <header class="border-primary-200 border-b border-solid pb-8">
        <h1 class="text-4xl text-red-700">Please log in</h1>
    </header>
    <section class="text-base text-gray-700 py-8">
        <p>
            You have to be logged in to view this page. Please follow the link to view the login page.
        </p>
    </section>
    <footer class="flex border-primary-200 border-t border-solid pt-8 justify-end">
        <a href="/admin/login"
           class="p-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500">
            To Login Page
        </a>
    </footer>
</form>
</body>
</html>