<html lang="en">
<head>
    <title>Setup</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body>
<form class="mx-auto container mt-16 rounded-lg shadow py-4 px-8" method="post">
    <header class="border-primary-lighter border-b border-solid pb-8">
        <h1 class="text-4xl text-gray-700">Create the first Admin</h1>
    </header>
    <section class="text-base text-gray-700 py-8">
        <p class="mb-4">
            To finalize the setup we now need to create the first admin. Please fill out the fields and then submit the
            form.
        </p>
        <p>{{.ValidityErrors.Error}}</p>
        <div class="flex flex-wrap mb-4">
            <label for="name" class="w-full font-bold">Name</label>
            <input required name="name" id="name" type="text"
                   class="py-1 px-2 border border-solid border-primary rounded w-1/2 invalid:border-red-700">
        </div>
        <div class="flex flex-wrap mb-4">
            <label for="email" class="w-full font-bold">Email</label>
            <input required name="email" id="email" type="email"
                   class="py-1 px-2 border border-solid border-primary rounded w-1/2 invalid:border-red-700">
        </div>
        <div class="flex flex-wrap mb-4">
            <label for="password" class="w-full font-bold">Password</label>
            <input required name="password" id="password" type="password"
                   class="py-1 px-2 border border-solid border-primary rounded w-1/2 invalid:border-red-700">
        </div>
    </section>
    <footer class="flex border-primary-lighter border-t border-solid pt-8 justify-end">
        <button class="p-2 rounded-lg bg-primary text-white hover:bg-white hover:text-primary border-2 border-solid border-primary">
            Create Admin
        </button>
    </footer>
</form>
</body>
</html>