<html lang="en">
<head>
    <title>Setup</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body>
<form class="mx-auto container mt-16 rounded-lg shadow py-4 px-8" method="post">
    <header class="border-primary-200 border-b border-solid pb-8">
        <h1 class="text-4xl text-gray-700">Setup the Database</h1>
    </header>
    <section class="text-base text-gray-700 py-8">
        <p>
            First we will setup the database, please make sure, that you have specified a valid PostgreSQL connection
            string in your environment variables.
        </p>
        <p>
            Your PostgreSQL connection string is the following:
        </p>
        <pre class="bg-gray-200 mt-2 rounded-lg p-4 text-base text-red-700">{{.}}</pre>
    </section>
    <footer class="flex border-primary-200 border-t border-solid pt-8 justify-end">
        <button class="p-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500">
            Setup Database
        </button>
    </footer>
</form>
</body>
</html>