<html lang="en">
<head>
    <title>Setup</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body>
<form class="mx-auto container mt-16 rounded-lg shadow py-4 px-8" method="post">
    <header class="border-primary-lighter border-b border-solid pb-8">
        <h1 class="text-4xl text-red-700">Error creating the database</h1>
    </header>
    <section class="text-base text-gray-700 py-8">
        <p>
            While setting up the database, an error occurred. Please see the error below, if you fixed the database
            error you can try again.
        </p>
        <pre class="bg-gray-200 mt-2 rounded-lg p-4 text-base text-red-700">{{.}}</pre>
    </section>
    <footer class="flex border-primary-lighter border-t border-solid pt-8 justify-end">
        <button class="p-2 rounded-lg bg-primary text-white hover:bg-white hover:text-primary border-2 border-solid border-primary">
            Retry Setup
        </button>
    </footer>
</form>
</body>
</html>