<html lang="en">
<head>
    <title>Setup</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body class="mx-auto container mt-16 rounded-lg shadow py-4 px-8">
<header class="border-primary-lighter border-b border-solid pb-8">
    <h1 class="text-4xl text-gray-700">Welcome (to) On The Road</h1>
</header>
<section class="text-base text-gray-700 py-8">
    <p>
        This wizard will guide you through the setup of On The Road. We will setup the database, create the first user
        and then you can configure your projects.
    </p>
</section>
<footer class="flex border-primary-lighter border-t border-solid pt-8 justify-end">
    <a href="/setup/database"
       class="p-2 rounded-lg bg-primary text-white hover:bg-white hover:text-primary border-2 border-solid border-primary">
        Start Setup
    </a>
</footer>
</body>
</html>