<html lang="en">
<head>
    <title>An error has occured</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body class="bg-red-200">
<form class="mx-auto container mt-16 rounded-lg shadow py-4 px-8 w-1/4 bg-white mt-64" method="post">
    <header class="border-primary-200 border-b border-solid pb-8">
        <h1 class="text-4xl text-red-700">An error has occured</h1>
    </header>
    <section class="text-base text-gray-700 py-8">
        <p>
            An unknown error has occured, please try again later. If the issue persists, don't hesitate to send us an
            email with the steps to reproduce the issue.
        </p>
    </section>
    <footer class="flex border-primary-200 border-t border-solid pt-8 justify-end">
        <a href="mailto:developers@jinya.de"
           class="p-2 rounded-lg bg-primary-500 text-white hover:bg-white hover:text-primary-500 border-2 border-solid border-primary-500">
            Send Email
        </a>
    </footer>
</form>
</body>
</html>